body .reveal .slides section .fragment.visible {
   opacity: 0.3; }
body .reveal .slides section .fragment.visible.no-burn,
body .reveal .slides section .fragment.visible.current-fragment,
body .reveal .slides section .fragment.highlight,
body .reveal .slides section .highlight:not(.fragment) {
   opacity: 1;
   visibility: visible; }
body .reveal .slides section .fragment.highlight.current-fragment,
body .reveal .slides section .highlight:not(.fragment) {
   background-color: yellow;
   border-radius: 4px; }

p.copyright {
  position: fixed;
  bottom: 10px;
  left: 15px;
  color: #888;
  z-index: 3;
  margin: 0;
  font-size: 0.5em;
}

#left {
    left:-8.33%;
    text-align: left;
    float: left;
    width:50%;
    z-index:-10;
}

#right {
    left:31.25%;
    top: 75px;
    float: right;
    text-align: right;
    z-index:-10;
    width:50%;
}